TZ=Europe/Berlin

PUID=1000
PGID=1000

JELLYFIN_PORT=8096

NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=video,compute,utility

JF_CONFIG=/srv/jellyfin/config
JF_CACHE=/srv/jellyfin/cache
JF_METADATA=/srv/jellyfin/metadata

JF_MEDIA_FILME=/srv/media/movies
JF_MEDIA_SERIEN=/srv/media/shows
