TZ=Europe/Berlin

PUID=1000
PGID=1000

JELLYFIN_PORT=8096

NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=video,compute,utility

JF_CONFIG=/path/to/config
JF_CACHE=/path/to/cache
JF_METADATA=/path/to/metadata

JF_MEDIA_FILME=/path/to/movies
JF_MEDIA_SERIEN=/path/to/shows
