# === Paperless-ngx ===
PAPERLESS_DBENGINE={{ paperless_dbengine }}
PAPERLESS_DBHOST={{ vault_paperless_dbhost }}
PAPERLESS_DBPORT={{ paperless_dbport }}
PAPERLESS_DBNAME={{ paperless_dbname }}
PAPERLESS_DBUSER={{ paperless_dbuser }}
PAPERLESS_DBPASS={{ vault_paperless_dbpass }}
PAPERLESS_DBSSLMODE={{ paperless_dbsslmode }}

# === Paths ===
PAPERLESS_DATA_DIR={{ paperless_data_dir }}
PAPERLESS_MEDIA_ROOT={{ paperless_media_root }}
PAPERLESS_CONSUMPTION_DIR={{ paperless_consumption_dir }}

# === Redis ===
PAPERLESS_REDIS={{ paperless_redis }}

# === General ===
PAPERLESS_OCR_LANGUAGE={{ paperless_ocr_language }}
PAPERLESS_TIME_ZONE={{ paperless_time_zone }}
PAPERLESS_SECRET_KEY={{ vault_paperless_secret_key }}

# === Logging ===
PAPERLESS_LOGGING_DIR={{ paperless_logging_dir }} 

# === User ===
USERMAP_UID={{ paperless_uid }}
USERMAP_GID={{ paperless_gid }}

# === Network ===
PAPERLESS_URL={{ paperless_url }}
PAPERLESS_CSRF_TRUSTED_ORIGINS={{ paperless_csrf_trusted_origins }}

# === Consumer ===
PAPERLESS_CONSUMER_RECURSIVE={{ paperless_consumer_recursive }}
PAPERLESS_CONSUMER_POLLING={{ paperless_consumer_polling }}

