# === Paperless-ngx ===

PAPERLESS_DBENGINE=postgresql
PAPERLESS_DBHOST=CHANGE_ME
PAPERLESS_DBPORT=5432
PAPERLESS_DBNAME=paperless_db
PAPERLESS_DBUSER=paperless_user
PAPERLESS_DBPASS=CHANGE_ME
PAPERLESS_DBSSLMODE=require

# === Paths ===

PAPERLESS_DATA_DIR=/usr/src/paperless/data
PAPERLESS_MEDIA_ROOT=/usr/src/paperless/media
PAPERLESS_CONSUMPTION_DIR=/usr/src/paperless/consume

# === Redis ===

PAPERLESS_REDIS=redis://localhost:6379

# === General ===

PAPERLESS_OCR_LANGUAGE=deu+eng
PAPERLESS_TIME_ZONE=Europe/Berlin
PAPERLESS_SECRET_KEY=CHANGE_ME
PAPERLESS_URL=CHANGE_ME
PAPERLESS_CSRF_TRUSTED_ORIGINS=CHANGE_ME

# === Consumer ===

PAPERLESS_CONSUMER_RECURSIVE=true
PAPERLESS_CONSUMER_POLLING=30

# === Logging ===

PAPERLESS_LOGGING_DIR=/usr/src/paperless/logs

# === User ===

USERMAP_UID=1000
USERMAP_GID=1000
