# {{ ansible_managed }}
RESTIC_REPOSITORY={{ offsite_backup_repository }}
RESTIC_PASSWORD_FILE={{ offsite_backup_password_file }}
OFFSITE_PATHS={{ offsite_backup_paths | join(' ') }}
OFFSITE_TEXTFILE_DIR={{ offsite_backup_textfile_dir }}
OFFSITE_TAG={{ offsite_backup_tag }}
OFFSITE_VERIFY_WEEKDAY={{ offsite_backup_verify_weekday }}
OFFSITE_VERIFY_SUBSET={{ offsite_backup_verify_subset }}
