[Unit]
Description=Prometheus Node Exporter
After=network.target tailscaled.service
Wants=tailscaled.service

[Service]
User=node_exporter
{% set flags = ['--web.listen-address=' ~ ansible_host ~ ':' ~ node_exporter_port] %}
{% if node_exporter_textfile_dir %}
{% set _ = flags.append('--collector.textfile.directory=' ~ node_exporter_textfile_dir) %}
{% endif %}
{% if node_exporter_systemd_collector %}
{% set _ = flags.append('--collector.systemd') %}
{% set _ = flags.append('--collector.systemd.unit-exclude=' ~ node_exporter_systemd_unit_exclude) %}
{% endif %}
ExecStart=/usr/local/bin/node_exporter {{ flags | join(' ') }}
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
