# {{ ansible_managed }}
# systemd-cat sends the script's output to the journal instead of to cron's mailer.
{% set hour, minute = homelab_schedule_shutdown_time.split(':') %}
{{ minute | int }} {{ hour | int }} * * *  root  systemd-cat -t homelab-shutdown --stderr-priority=err {{ homelab_shutdown_dest }}
